
.open-sans,.main_titulo,.presentacion_titulo, .servicio_titulo, .contacto-titulo {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}
.servicio_titulo-descripcion,.roboto-bold, .header_tag {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.roboto-regular, .presentacion_descripcion, .servicio_descripcion,.footer_año, .logos_texto {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

*{
    box-sizing: border-box;


}
body{
    margin: 0;
    padding: 0;
}
.container{
    min-width: 375px;
    width: 100%;
}
@media(min-width:900px)
{
    
}
.container_header-main{
    
    /* header */
}
.header{
display: flex;
justify-content: space-between;
padding-top: 42px;
background-image: url(img/puntitos.svg);



}
@media(min-width:900px) {
    .header{
padding: 36px 103px 0 80px;
align-items: center;
    }
}
.header_logo{
    width: 54px;
    height: 50px;
    margin-left: 17px;
}
@media(min-width:900px) {
    .header_logo {
        width: 95px;
        height: 109px;
    }
}

.header_burguer{
    width: 36px;
    height: 32px;
    margin-right: 20px;

}
@media(min-width:900px) {
    .header_burguer {
        display: none;
    }
}
.header_ul{
    display: none;
    margin: 0;
    padding: 0;
    height: 29px;
    width: 428px;
}
.header_li{
    list-style: none;
    display: flex;
    justify-content: space-between;
}
.header_tag{
    text-decoration: none;
    color: black;
    font-size: 24px;
    line-height: 28.13px;

}
@media(min-width:900px) {
    .header_ul {
        display: initial;
    }
}
/* Main */
.main{
    padding-top:94px ;
    

}
@media(min-width:900px) {
    .main{
        display: grid;
        grid-template-columns: 313px 1fr 435px;
        padding: 83px 80px 0 80px;
    }
}

.main_titulo{
   padding: 0 42px;
    text-align: center;
    
    font-size: 48px;
    line-height: 48px;

}
@media(min-width:900px) {
    .main_titulo {
       text-align: left;
    
       font-size: 48px;
       line-height: 48px;
       padding: 0;
       
    }
}
.main_mi-foto{
    padding-top: 58px;
width: 318px;
height: 300px;
margin: 0 auto;
display: block;
}
@media(min-width:900px) {
.main_mi-foto{
    grid-column: 3/4;
    width: 435px;
    height: 395px;
}
}
/* seccion presentacion */
.section-presentacion{
    background-color: #141414;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 538px;
    gap: 57px;
}

@media(min-width:900px) {
    .section-presentacion {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
    }
}
.container_titulo-descripcion{}

@media(min-width:900px) {
    .container_titulo-descripcion{
width: 532px;
height: 237px;

    }
    }

.presentacion_titulo{
    margin: 0;
    text-align: center;
   
    font-size: 32px;
    line-height: 43.58px;
    margin-bottom: 41px;
    
}
.presentacion_descripcion{
    font-size: 16px;
    line-height: 18.75px;
   text-align: center;
    margin: 0 32px;
}
@media(min-width:900px) {
    .presentacion_descripcion{
        margin: 0;
    }}


.presentacion_check{
    
    display: block;
    margin: 0 auto;
    width: 80px;
    height: 80px;
}

@media(min-width:900px) {
    .presentacion_check{
        width: 211px;
        height: 211px;
        margin: 0;
    }
}

/* seccion servicios */
.section-servicio{
    
        
    
        height: 1375px;
    
    padding: 66px 52px;
}
@media(min-width:900px) {
   .section-servicio {
       height: 604px;
    }
}
.servicio_titulo{
margin-bottom: 42px;
font-size: 32px;
line-height: 43.58px;
text-align: center;

}

@media(min-width:900px) {
    .servicio_titulo {
       font-size: 48px;
       line-height: 48px;
       margin-bottom:71px;
    }
}
.servicio_container{

}
@media(min-width:900px) {
   .servicio_container {
    display:flex;
       flex-direction:row;
       justify-content: space-between;
    }
}
.container_informacion{
display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}
@media(min-width:900px) {
    .container_informacion{
        width: 271px;
        height: 312px;
    }
}


.servicio_vector{
width: 138px;
height: 138px;
}

.servicio_titulo-descripcion{
margin-bottom: -10px;
font-size: 24px;
line-height: 28.13px;

}

.servicio_descripcion{
   text-align: center;
   font-size: 16px;
   line-height: 18.75px;
}



/* seccion contacto */
.section-contacto{
background-color: #141414;
color: #FAFAFA;
height: 660px;
padding: 69px 20px;
}

@media(min-width:900px) {
    .section-contacto{
        display: flex;
        flex-direction: row;
        gap: 77px;
        justify-content: center;
    }
}

.contacto-titulo{
    font-size: 32px;
    line-height: 43.58px;
    text-align: center;

}
@media(min-width:900px) {
    .contacto-titulo {
     font-size: 48px;
     line-height: 48px;
    margin-top: 48px;
    }
}
.contacto_form{
display: flex;
flex-direction: column;
justify-content: center;


}
@media(min-width:900px) {
    .contacto_form {
        width: 376px;
    }
}
.contacto_label-nombre, .contacto_label-email,.contacto_label-mensaje{
font-size: 13px;
    line-height: 15.23px;
}
.contacto_input-nombre,.contacto_input-email,.contacto_textarea ,.contacto_boton{
    font-size: 13px;
    line-height: 15.23px;
    height: 45px;
    
    
        width: 100%;
    
}



.contacto_label-nombre {}
.contacto_input-nombre{
margin-bottom: 20px;
margin-top: 9px;
}
.contacto_label-email{

}
.contacto_input-email{
margin-bottom: 20px;
margin-top: 9px;
}
.contacto_label-mensaje{

}.contacto_textarea{
height: 113px;
margin-bottom: 60px;
margin-top: 9px;
resize: none;
}
.contacto_boton{
border-radius: 4px;
background-color:#FFD953;
}
 /* footer */
.footer{
padding: 53px 0 82px 16px;
background-color: #DBDBDB;
height: 493px;
color:#2C2C2C;
}

@media(min-width:900px) {

    .footer{
        height: 346px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 95px 229px 95px 80px;
        background-color: #eeeeee;
        background-image: url("img/puntitos.svg");
    }
    .footer_logo-año{
        height: 123px;
        width: 121px;
    }
}

.footer_logo{
    width: 77px;
    height:71px;
    margin-bottom: 18px;
}
@media(min-width:900px) {
    .footer_logo{
        width: 112px;
        height: 103px;
        margin-bottom: 0;

      
    }
}
.footer_año{
margin-bottom: 85px;
font-size: 13px;
line-height: 15.23px;
}
@media(min-width:900px) {
    .footer_año{
        margin-top: 5px;
    }
}

.footer_logos{

}
@media(min-width:900px) {
    .footer_logos{
        width: 108px;
    }
}


.logos_container{
width: 104px;
}
.logos_link{
    text-decoration: none;

    display: flex;
    gap: 4px;
    margin-bottom: 29px;
    align-items: center;
    color: #2C2C2C;
}

.logos_redes{
width: 28px;
height: 28px;
margin-right: 4px;
}

